:root {
    --PressStart2P: "Press Start 2P", sans-serif;
    --Zekton: "Zekton", sans-serif;
}

@mixin text-outline($outline-color) {
    //-webkit-text-stroke-color: $outline-color;
    //HACK
    //actually looks better than webkit "text-stroke-color" for this
    text-shadow: -3px 0 $outline-color, 0 3px $outline-color, 3px 0 $outline-color, 0 -3px $outline-color;
}

html, body {
    background-color: black;
    overflow: hidden !important;
    margin: 0;
}
h1, div, img {
    user-select: none !important;
    pointer-events: none !important;
}
div, img {
    position: absolute !important;
}
h1 {
    font-family: var(--PressStart2P, sans-serif);
    text-align: center;
}
img {
    display: none;
}

.Anim-Object, img, h1 {
    //Tell the browser to optimize these, all though it may basically do nothing
    will-change: top, left, right, bottom, transform;
}
body .Anim-Object {
    width: 400px;
    height: 150px;
    display: none;
}

//Init black screen when loading
body > #Hardware {
    left: 50%;
    top: 50%;
    width: 90vw;
    height: 30vh;
    transform: translate(-50%,-50%);
    z-index: 0;

    > :is(h1, h2) {
        color: white;
        text-align: center;
        position: relative    
    }
    > h1 {
        font: {
            family: sans-serif;
            size: 50px;
        }
    }
    > h2 {
        font: {
            family: monospace;
            weight: lighter;
        }
    }
}