html, body {
    background-color: rgb(25,25,25);
    overflow: hidden;
}
div {
    position: absolute;
}
p, h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.Anim-Object {
    border: 1px solid white;
    width: 400px;
    height: 150px;
}

#Bottom-Bar {
    bottom: 0;
    left: 0;
    height: 50px;
}

#Bottom-Rect {
    height: 45px;
    width: 45px;
}
#Object-1 {
    background-color: rgb(150,0,0);
    height: 80px;
    width: 300px;
    right: 0;
    bottom: 0
}
#Object-2 {
    width: 50px;
    height: 80px;
    background-color: rgb(0,0,150);
}
#Object-3 {
    width: 50px;
    height: 80px;
    background-color: rgb(0,150,0);
}